.question-panel {
    position: relative;
    /*
    border-top: 2px solid rgba(74, 74, 74, 0.4);
    */
    width: 374px;
    height: 312px;
    left: -44px;
    border-bottom: 2px solid rgb(209, 212, 214);
}

.q-wrapper {
    width: 310px;
    height: 169px;
    padding: 0 14px;
    position: absolute;
    top: 350px;
    left: 28px;
    background-color: rgba(250, 250, 250, 0.8);
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.question {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: rgb(74, 74, 74);
    padding: 24px 14px;
}

.s-box {
    width: 278px;
    height: 152px;
    position: absolute;
    top: 335px;
    left: 43px;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.14);
    background-color: rgba(250, 250, 250, 0.7);

}

.q-wrapper button {
    width: 112px;
    border: none;
    background-color: rgba(250, 250, 250, 0.8);
    padding-top: 4px;
}
.q-wrapper .q-btn-left {
    margin-left: 18px;
    border-right: 2px solid rgba(204, 198, 198, 0.4);
}

.skip-q {
    position: absolute;
    bottom: -245px;
    right: 128px;
    font-size: 12px;
    border: none;
    background-color: rgb(226, 235, 241);
    color: grey;
}

.refresh {
    position: absolute;
    right: -10px;
    top: -64px;
    width: 8%;
}